#root {
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

.App {
  background: no-repeat url('./assets/images/bg-main-mobile.png');
  font-weight: 500;
}

img:not(.card-logo) {
  width: 300px;
  display: block;
}

.card-front {
  position: relative;
  z-index: +2;
  top: 6.8em;
  left: .6em;
}

.card-back {
  position: relative;
  bottom: 9.4em;
  left: 3em;
}

.card-back>p {
  bottom: 3.6em;
  right: 6rem;
  position: absolute;
}

.card-logo {
  position: absolute;
  right: 16em;
  top: 1em
}

.card-details {
  position: absolute;
  bottom: .5em;
  left: 1em;
  width: 75%;
}

.card-details>p:first-of-type+p {
  display: flex;
  justify-content: space-between;
}

.card-images {
  color: hsl(0, 0%, 100%);
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  color: hsl(278, 68%, 11%);
  text-align: start;
  font-size: 12px;
}

.bottom-fieldset {
  width: 100%;
  display: flex;
}

.expiry>input[type=text] {
  width: 25%;
  /* margin-inline: 2px; */
}

.expiry>input:first-of-type {
  margin-right: 14px;
}

.cvc {
  width: 60%;
}

.submit-button {
  background-color: hsl(278, 68%, 11%);
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  position: relative;

}

input {
  width: 100%;
  border-radius: .2em;
  border: hsl(279, 6%, 55%) solid 1px;
  padding: 4px;
}

@media (min-width:40em) {

  .App {
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    background: no-repeat left/30% url('./assets/images/bg-main-desktop.png');
    gap: 6em;
    /* background-position: left; */
  }

  .item {
    background-color: transparent;
    width: 483px;
  }

  .form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(278, 68%, 11%);
    text-align: start;
  }

  .submit-button {
    background-color: hsl(278, 68%, 11%);
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    position: relative;

  }

  .card-front {
    width: 80%;
    margin-top: 4em;
    margin-bottom: 20px;
    padding-left: 4em;
    position: relative;
    color: hsl(0, 0%, 100%);

  }

  .card-front>img {
    display: block
  }

  .card-logo {
    top: 1.6em;
    right: 24em;
    position: absolute;
  }

  .card-back {
    margin-left: 8em;
    color: hsl(0, 0%, 100%);
    position: relative;
  }

  .card-back>p {
    bottom: 7em;
    right: 4rem;
    position: absolute;
  }

  .card-details {
    width: 80%;
    bottom: 2em;
    left: 6em;
    position: absolute;
  }

  .card-details>p:first-of-type+p {
    display: flex;
    justify-content: space-between;
  }

  .card-number {
    letter-spacing: 8px;
    font-size: 18px;
  }

  .bottom-fieldset {
    width: 100%;
    display: flex;
    /* flex: 1; */
  }

  /* form>div {
    width: 75%;
  } */

  input {
    width: 100%;
    border-radius: .2em;
    border: hsl(279, 6%, 55%) solid 1px;
    padding: 4px;
  }

  .cvv {
    width: 50%;
  }

  .expiry {
    width: 50%;
  }

  .expiry>input[type=text] {
    width: 25%;
    /* margin-inline: 2px; */
  }

  .expiry>input:first-of-type {
    margin-right: 14px;
  }

  .cvc {
    width: 60%;
  }
}